.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=submit] {
    width: 100%;
    height: 100%;
    background: lightgray;
}

input[type=submit]:hover {
    cursor: pointer;
    background: darkgrey;
}

input[type=submit]:active {
    cursor: pointer;
    background: gray;
}